body{
   width: 700px;
   height: 700px;
   border: 1px solid black;
   display: flex;
   position: relative;
}
#btn-clear{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #dc9120;
    background-color: blanchedalmond;
}
.control{
    background: teal;
    flex: 1;
}
.control .color-picker{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#draw{
    cursor: pointer;
    border-left: 1px solid black;
}